/* Generics */

:root {
  --primaryColor: #6060ff;
  --secondaryColor: grey;
  --alertColor: #e70d0d;
  --activePrimaryColor: #7676ff;
  --activeSecondaryColor: #ff3b3b;
}

*, *::before, *::after {
  box-sizing: inherit;
}

iframe {
  border-radius: 1rem 0 0 1rem;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 0;
  margin: 0;
  border: none;
}

.textDecorationNone {
  text-decoration: none;
}

.break {
  flex-basis: 100vw;
  height: 0;
}

.mediaContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100vw;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #6d91cb;
  box-shadow: inset 0 0 3px 0 darkslategray;
}

.pageMediaContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 4rem;
  height: 360px;
}

.pageVideoContainer {
  display: flex;
}

.pageVideoListContainer {
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  width: 20rem;
  background-color: #21366b;
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
}

.pageVideoList {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}


.videoMarginBottom {
  margin-bottom: 2rem;
}

.testBackgroundColor {
  background-color: brown;
}

/* HeaderProps */

header {
  font-size: 1rem;
  height: 2rem;
}

#logo {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

#logo a {
  display: flex;
  align-items: center;
  height: 1.6875rem;
  text-decoration: none;
}

#logo__image {
  width: 1rem;
  height: 1rem;
  margin: 0 5px;
}

.userNameShort:hover {
  color: var(--activePrimaryColor);
}

.headerMenu {
  display:flex;
  align-items:center;
}

#menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 2rem;
  border: none;
}

.menu__item {
  display: inline;
  margin: 0 1rem;
  text-decoration: none;
  color: darkslategray;
}

.menu__item:hover{
  color: var(--activePrimaryColor);
}

.active {
  color: var(--primaryColor);
}

#logout {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

#logout a {
  color: var(--alertColor);
}

#logout a:hover {
  color: var(--activeSecondaryColor);
}

/* My goals */

.goalsContainer {
  background: url("./images/mountain.jpg") no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 3px 0 darkslategray;
}

#goalsTitle {
  display: flex;
  flex-basis: 100vw;
  flex-direction: row;
  margin-bottom: 1rem;
}

.goalsStripeContainer {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: 1rem;
  margin-right: -1.3rem;
  opacity: 0.8;
}

.goalsStripeContainer:hover {
  opacity: 1;
  cursor: pointer;
}

.goalsStripeContent {
  display: flex;
  position: relative;
  left:-24px;
  align-items: center;
  background-color: #434343;
  color: white;
  height: 2rem;
  border-radius: 0 1rem 1rem 0;
}

.goalsStripeText {
  font-size: 0.8rem;
  margin: 0 1rem 0 0.3rem;
}

.goalsStripeConcaveGraphic {
  position: relative;
  left: -16px;
  width: 2rem;
  height: 2rem;
  filter: invert(20%) sepia(1%) saturate(0%) hue-rotate(244deg) brightness(92%) contrast(75%);
}

.goalsStripeHeadConcaveGraphic {
  position: relative;
  left: -16px;
  width: 2rem;
  height: 2rem;
  filter: invert(17%) sepia(5%) saturate(729%) hue-rotate(131deg) brightness(92%) contrast(100%);
}

.goalsStripeOuterCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.01rem;
  height: 2.01rem;
  border-radius: 1rem;
  transform: scale(1.1);
}

.goalsStripeHead {
  background-color: #222828;
}

.goalsStripeInnerCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: #434343;
}

.goalsStripeInnerNumber {
  font-size: 0.8rem;
}

.goalsStripesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.pageTitle {
  margin: 1rem 0 2.5rem 0;
}

.resultsCountersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fae9e9;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 4rem;
}

.resultsCounterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
  align-items: center;
}

.resultsCounterCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  box-shadow: inset 0 0 3px 0 #5f6cc0;
  background-color: #5E86C8;
  color: #e7e7e7;
}

.resultsCounterTitle {
  color: darkslategray;
}

.videoThumbnailContainer {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #335cff;
  margin-bottom: 0.5rem;
}

.videoThumbnailImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoThumbnailImage {
  display: flex;
  width: 100%;
}

.videoThumbnailTitleContainer {
  display: flex;
}

.videoThumbnailTitle {
}

#Error404 {
  display: flex;
  flex-basis: 100vw;
  height: 100vh;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #6060ff;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  font-size: 0.8rem;
  height: 2rem;
}

footer a:hover {
  color: var(--activePrimaryColor);
}

/* Fake video service */

.fakeVideoTemplateContainer {
  background-color: #6060ff;
  border-radius: 0.3rem;
  padding: 5px;
  margin-bottom: 1rem;
}